<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NetworkCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="NetworkCheck.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NetworkCheck.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>sdces01</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>ping.exe</value>
            </setting>
        </NetworkCheck.Properties.Settings>
        <NetworkCheck.Settings>
            <setting name="Host" serializeAs="String">
                <value>"sdces01"</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>25</value>
            </setting>
        </NetworkCheck.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
